<div class="container" *ngIf="news$ | async as newses; else loader">
  <div class="header">
    <h1>{{ newses.name }}</h1>
    <div class="dates">
      <p class="date">{{ newses.date | date : 'HH:mm ' }}</p>
      <p class="date">{{ newses.date | date : 'dd.MM.yyyy' }}</p>
    </div>
  </div>
  <div class="author">Автор:
  <a [routerLink]="['/author', newses.author?.id]"> {{ newses.author?.username }}</a>
</div>
  <img class="news-image" [src]="getFullImageUrl(newses.imageSrc)" alt="Изображение новости">
  <p class="news-text">{{ newses.text }}</p>
  <button onclick="history.back()" type="button" style="margin: auto" mat-flat-button color="accent">Повернутися до
    переліку новин
  </button>


  <div class="comments">
    <h2>Коментарі:</h2>
    <div class="all-comments" style="margin-left: 20px" *ngIf="comments$ | async as comments; else loader">
      <div *ngFor="let comment of comments">
        <h5>{{comment.user?.username}}</h5>
        <p>{{comment.date | date: 'HH:ss dd.MM.yyyy'}}</p>
        <p>{{comment.text}}</p>
      </div>
    </div>

    <form class="comment-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label class="text">Залишити коментар</mat-label>
        <textarea matInput
                  id="text"
                  formControlName="text"></textarea>
      </mat-form-field>
      <button [disabled]="form.invalid || form.disabled" type="submit" mat-flat-button color="accent">Відправити</button>
    </form>
  </div>
  </div>
<ng-template #loader>
  <mat-spinner color="accent" style="margin: auto"></mat-spinner>
</ng-template>
