.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ffcaf4;
  background-color: #fff4fc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.date {
  flex-direction: row;
  text-align: end;
}
span {
  border-bottom: 1px solid #6b0e4b;
  width: 100%;
}
